@tailwind base;
@font-face {
  font-family: 'rock-webfont';
  src: url('/assets/fonts/rock-webfont.woff') format('woff');
}

@font-face {
  font-family: 'subversia-regular';
  src: url('/assets/fonts/subversia-regular.otf') format('opentype');
}

@tailwind components;

@tailwind utilities;


.font-rock-webfont {
  font-family: 'rock-webfont';
}

.font-subversia-regular {
  font-family: 'subversia-regular';
}